# Claude Code
.claude/

# Maven / Spring Boot
backend/target/**
!backend/target/bacprep-backend-1.0.0.jar
backend/*.iml
*.class
*.war
*.ear

# Node / Angular
frontend/node_modules/
frontend/dist/
frontend/.angular/

# Root node_modules
node_modules/

# IDE
.idea/
.vscode/
*.iml
.project
.classpath

# OS
.DS_Store
Thumbs.db

# Env / secrets
*.env
.env.*

# Fichiers temporaires Office
~$*